
.Chart{
    max-width:786px; 
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(236, 226, 226);
}

.Heading{
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    color: white;
    justify-content: center;
    margin-bottom: 10px;
}
